<% include header %>

<h1><a href="/"><< back to</a> <strong>main</strong> <strong>page</strong></h1>
<h3>Personal blog of <a href="/about">Jenny Michielsen</a></h3>

<h2><span>Oopsie!</span> :</h2>

<section>
<p>Looks like someone made a wrong turn. Nothing to see here, buddy!</p>
<img src="https://pbs.twimg.com/profile_images/1774968395/futuramafry_400x400.jpg" alt="Fry">
</section>

<% include footer %>
